VITE_TRANSACTION_API_BASE_URL=http://localhost:8088
VITE_RISK_API_BASE_URL=http://localhost:8088
VITE_ALERT_API_BASE_URL=http://localhost:8088
VITE_AI_EXPLANATION_API_BASE_URL=http://localhost:8088
VITE_SYSTEM_HEALTH_API_BASE_URL=http://localhost:8088
